

.text-end {

  color: #3FB0AC;
}
.text-center {
  color: #3FB0AC;
}
#button {
  color: #3FB0AC;
}
.profileLink {
  color: #3FB0AC;
}
.menuBar {
  display: flex;
  justify-content: space-around;
  position: sticky;
}

.body-text{
    color:#3FB0AC;
}
.yell-back{
    background-color: #fae596;
}

.Card{ 
  margin: 15px;
}

.card_social_links{ 
  display: "flex"; 
  justify-content: "space-around";
} 

.Card_Body{ 
  background-color: "#dddfd4"
}

.card-header{ 
  background-color: #fae596;
}

.body-text{ 
  color: "#3FB0AC" 
}